
<h2>Game Statistics</h2><hr>
<p>Highest cash balance: <%= number_to_currency(@max_amount) %></p>
<p>Lowest cash balance: <%= number_to_currency(@min_amount) %></p>
<p>Standard deviation: <%= number_to_currency(@standard_deviation) %></p>
<h3><%= @player.name %>'s cash balance over games played</h3>
  <%= line_chart @chart_hash, min: (@money_tracker.min - 100), max: (@money_tracker.max + 100), discrete: true  %>
