<% if @players.size > 1 %>
  $('#player_list').html('<% @players.each do |p| %><tr><td><%= "#{p.name}"%></td><td><span id="<%= p.name[0..3]%>">$ <%=p.money %></span></td></tr><% end %>')
<% else %>
  $('#<%= @players.first.name[0..3]%>').html('<span id="<%= @players.first.name[0..3]%>">$ <%= @players.first.money %></span>');
<% end %>

$('#game_results').html("<%= escape_javascript(render(partial: 'game_details'))%>")