<div class="container valign">
  <div class="responsive-table players">
    <table>
      <thead>
        <tr>
          <th data-field="id">Player Name</th>
          <th data-field="price">Current Cash</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |p| %>
          <tr>
            <td><%= "#{p.name}"%></td>
            <td><span id="<%= p.name[0..3]%>">$ <%=p.money %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<section id="game">
  <%= form_for(@player, html: {class: "col s12 m6"})  do |f|%>
    <% if @player.errors.any? %>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= pluralize(@player.errors.count, "error") %> prohibited this form from being saved:</span>
          <ul>
            <% @player.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col s12 m5">
        <div class="input-field col s12 m6">
          <%= f.collection_select(:name, Player.all, :id, :name, {prompt: "Select a player"}, {class: "browser-default", id: "player_name "})%>
        </div>
        <div class="input-field col s12 m6">
        <div class="switch">
          <label>
          No
          <input type="checkbox" value="0" id="all" checked="checked">
          <span class="lever"></span>
          Yes
          </label>
          <label for="all" class="active">All Players Play Game?</label>
        </div>
        <input type="hidden" value="1" id="hdnall" name="all" />

        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.number_field(:bet, id: "bid_amount", class: "validate", placeholder: "Bet Amount", in: 5..100, step: 5) %>
            <label for="bid_amount" class="active">Bet Amount</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.number_field(:games, :class => "browser-default", id: "number_games", placeholder: "Number of games to be played", in:  5..100, step: 5) %>
            <label for="number_games" class="active">Number of Games to Play</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.submit "Play Game", id: "play_game", class: "btn"%>
          </div>
        </div>
      </div>
      <div class="col s12 m7">
        <div id="graph">
          <div id="game_results">
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
<div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h1 class="center brown-text">Assumptions</h2>
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center brown-text"><i class="material-icons">Splitting</i></h3>
            <h5 class="center">Logic only allows for a single split</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center brown-text"><i class="material-icons">Blackjack</i></h3>
            <h5 class="center">Payout is 1.5x bid amount</h5>

            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center brown-text"><i class="material-icons">Dealer Ace</i></h3>
            <h5 class="center">Dealer must stand on soft 17</h5>

            <p class="light"></p>
          </div>
        </div>
      </div>
  </div>
</div>