<h1>List of players</h1><hr>
<p>
  <ul>
    <% @players.each do |p| %>
    <li><%= "#{p.name}: $#{p.money.to_roman}"  %></li>
    <% end %>
  </ul>
</p>

<div class="step">
  <div class="form-group">
    <%= form_for(@player) do |f| %>
    <%= f.label :name %>
    <%= f.collection_select(:name, Player.all, :id, :name, {prompt: "Select a player"}, {class: "form-control"}) %>
    <%= f.submit "Play Game", id: "play_game"%>
      <% end %>
  </div>
</div>
