<div class="main">
  <h1>BlackJack Game: </h1> <a title="fearthegoat github account" href="https://github.com/fearthegoat/casino_app">View the Source Code here</a><hr>
  <h2>List of Available Players:</h2>
  <ul id="player_list">
    <% @players.each do |p| %>
      <li><%= "#{p.name}: "%><span id="<%= p.name[0..3]%>">$ <%=p.money %></li>
    <% end %>
  </ul>
  <div class="step">
    <div class="form-group">
      <%= form_for(@player) do |f| %>
        <%= f.label :name %>
        <%= f.collection_select(:name, Player.all, :id, :name, {prompt: "Select a player"}, {class: "form-control", id: "player_name"}) %>
        <%= f.label "Have all players play game" %>
        <%= f.check_box :all, id: 'all' %>

        <div>
          <%= f.label "Bet amount" %>
          <%= f.number_field(:bet, :class => "form-control", id: "bid_amount", in: 5..100, step: 5) %>
        </div>
        <div>
          <%= f.label "Number of games to be played" %>
          <%= f.number_field(:games, :class => "form-control", id: "number_games", in: 5..100, step: 5) %>
        </div>
        <%= f.submit "Play Game", id: "play_game"%>
      <% end %>
    </div>
  </div>
  <div id="game_results">
  </div>
</div>

<div class="todo">
  <h1>TODO</h1><hr>
  <ol>
    <li>Fix checkbox not changing value when checked (defaulting to all players always playing)</li>
    <li>Add handling when a single player runs out of money but other players have not</li>
    <li>Index player's cash balances for charting to show relative performance (should be similar since all using same strat)</li>
    <li>Add splitting and doubling to the blackjack logic</li>
    <li>Better js output</li>
    <li>Continously update money as games progress using js</li>
    <li>Progress Bar, requesting from server (optional)</li>
    <li>Materialize</li>

  </ol>
</div>


