<div class="main">
  <h1>BlackJack Game: </h1> <a title="fearthegoat github account" href="https://github.com/fearthegoat/casino_app">View the Source Code here</a><hr>
  <h2>List of Available Players:</h2>
  <ul id="player_list">
    <% @players.each do |p| %>
      <li><%= "#{p.name}: "%><span id="<%= p.name[0..3]%>">$ <%=p.money %></li>
    <% end %>
  </ul>
  <div class="step">
    <div class="form-group">
      <%= form_for(@player) do |f| %>
        <%= f.label :name %>
        <%= f.collection_select(:name, Player.all, :id, :name, {prompt: "Select a player"}, {class: "form-control", id: "player_name"}) %>
        <input type="checkbox" value="0" id="all" checked="checked" />
        <input type="hidden" value="1" id="hdnall" name="all" />
        <label for="all">Have all players play game</label>
        <div>
          <%= f.label "Bet amount" %>
          <%= f.number_field(:bet, :class => "form-control", id: "bid_amount", in: 5..100, step: 5) %>
        </div>
        <div>
          <%= f.label "Number of games to be played" %>
          <%= f.number_field(:games, :class => "form-control", id: "number_games", in: 5..100, step: 5) %>
        </div>
        <%= f.submit "Play Game", id: "play_game"%>
      <% end %>
    </div>
  </div>
  <div id="game_results">
  </div>
</div>

<div class="todo">
  <h1>TODO</h1><hr>
  <ol>
    <li>Add X and Y axis labels to chart</li>
    <li>Add standard deviation, max, min analytics (again)</li>
    <li>Attempt to build from scratch trend line (aka regression)</li>
    <li>Add handling when a single player runs out of money but other players have not</li>
    <li>Better js output</li>
    <li>Materialize</li>

  </ol>
</div>


