<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Blackjack Game</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Blackjack Game</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/fearthegoat/casino_app">View Source Here</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://github.com/fearthegoat/casino_app">View Source Here</a></li>
      </ul>
      <a href="https://github.com/fearthegoat/casino_app" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">source</i></a>
    </div>
  </nav>
  <% [:notice, :alert].each do |level| %>
    <% if flash[level] %>
      <p>Errors</p>
      <% end %>
  <% end %>

  <%= yield %>

  <footer class="page-footer teal">
      <div class="row">
        <div class="col s12 m8">
          <p class="center white-text">This program plays blackjack according to the "Basic Strategy", which is the strategy that minimizes the house advantage.  This strategy effectively reduces the house advantage to ~0.5%, depending on the amount of decks used.</p>
        </div>
        <div class="col s12 m2 offset-m2">
          <h5 class="center white-text">Made by Kevin</h5>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>